@font-face {
    font-family: hattonmedium;
    src: url(/src/assets/hatton-medium.otf) format("opentype");;
}

@font-face {
    font-family: hattonlight;
    src: url(/src/assets/hatton-light.otf) format("opentype");;
}

.header-logo {
    font-family: hattonmedium;
    font-size: 1.5rem;
}

.header-container {
    display: flex;
    background-color: #fafafa3f;
    justify-content: space-between;
    align-items: center;
    padding: 15px 3%;
    flex-wrap: wrap;
}

.header-container a {
    text-decoration: none;
    color: inherit;
}

.header-links {
    display: flex;
    gap: 4rem;
}

.header-icons {
    display: flex;
    gap: 3rem;
}

.header-icons img {
    width: 22px;
    height: auto;
}

.header-cart {
    cursor: pointer;
}

@media (max-width: 480px) {

    .header-links {
        gap: 15px;
    }

    .header-icons {
        gap: 15px;
    }
    
}