:root {
  --primary-text-color: ;
  --secondary-text-color: #868584;
}

@font-face {
  font-family: hattonmedium;
  src: url(/src/assets/hatton-medium.otf) format("opentype");
}

@font-face {
  font-family: hattonlight;
  src: url(/src/assets/hatton-light.otf) format("opentype");
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0;
}

.about-body {
  max-width: 70vw;
}

.about-main-title {
  position: relative;
  font-size: 3.8vw;
  padding: 10% 0;
  z-index: 1;
  font-family: hattonlight;
  font-weight: bold;
}

.about-intro,
.about-footer {
  color: var(--secondary-text-color);
}

.about-first,
.about-second {
  position: absolute;
  width: 12vw;
  opacity: 0.9;
}

.about-first {
  left: 22%;
  top: 22%;
}

.about-second {
  left: 60%;
  top: 45%;
}

@media (max-width: 480px) {
  .about-body {
    max-width: 94vw;
  }

  .about-main-title {
    font-size: 6.8vw;
  }

  .about-first,
  .about-second {
    opacity: 0.5;
  }

  .about-first {
    left: 19%;
    top: 24%;
  }

  .about-second {
    left: 51%;
    top: 44%;
  }

  .about-container {
    padding: 10%;
  }
}

@media (min-width: 480px) and (max-width: 1080px) {

  .about-container {
    margin: 10% 0;
  }

  .about-first {
    top: 68%;
  }

  .about-second {
    top: 98%;
  }
 
}
